<app-newnavbar></app-newnavbar>
<div class="bg-image" style="background-image: url(https://media.istockphoto.com/id/1305410177/video/4k-defocused-background.jpg?s=640x640&k=20&c=6C0_kmr75YOn_YEZQcU-gq_VRnkUaK1vpoGLGshMDKo=)" class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


            <table class="table">
                <thead>
                  <tr>
                
                    <th scope="col">ID</th>
                    <th scope="col">Cousre Title</th>
                    <th scope="col">Course Discription</th>
                    <th scope="col">Course Duration</th>
                    <th scope="col">Course Date</th>
                    <th scope="col">Course Venue</th>
                
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let i of data">
                
                    <td>{{i.id}}</td>
                    <td>{{i.courseTitle}}</td>
                    <td>{{i.courseDescription}}</td>
                    <td>{{i.courseDuration}}</td>
                    <td>{{i.courseDate}}</td>
                    <td>{{i.courseDuration}}</td>
                  </tr>
                  
                </tbody>
              </table>



        </div>
    </div>
</div>
