<app-newnavbar></app-newnavbar>
<div class="bg-image" style="background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20191112054904-FotoJet32.jpeg)"class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <ng-container *ngIf="loading; then loadingScreen; else dataScreen"></ng-container>
            <ng-template #loadingScreen>
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div class="spinner-border text-dark" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
            </ng-template>
            <ng-template #dataScreen>
                
                    <div class="col-col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor = "let i of data">
    
                        <div class="card" >
                            <div class="card" style="width: 18rem;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEvDugEOg1HGweEC9ilQPx4TFDIpBGartUrGoBKZUON6wmQ-xFUvCCU9F6XfQwptf4WqI&usqp=CAU" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text">Name :{{i.name}}</p>
                              <p class="card-text">Friend Name:{{i.Friend}}</p>
                              <p class="card-text">Friend Nickname:{{i.friendNickName}}</p>
                              <p class="card-text">Description{{i.DescribeYourFriend}}</p>
                        
                              
                            </div>
                          </div>
                    </div>
                </div>
            </ng-template>
          


            
        </div>
    </div>
</div>