<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Nest Group</h5>
      <p class="card-text">The NeST Group of Companies, with our head-quarters at Kochi (Cochin), Kerala, India, has grown from our rather humble inception in 1990 as a single manufacturing plant, to being a diversified conglomerate with a global foot-print and multi-domain expertise in the fields of Electronics Manufacturing Services (EMS), Original Design Manufacturing (ODM), System Integration (SI), Application Development & Management (ADM), IT Infrastructure design & implementation, consulting,  etc, besides operations in non-technology areas like Education & Training, Food & Beverages, commercial, industrial and residential real estate development etc.</p>
     
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nest Digital</h5>
      <p class="card-text">NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
      
    </div>
    <img src="https://www.nestdigital.com/images/img_our_customers.png" class="card-img-bottom" alt="...">
  </div>